.git
.gitignore
.env
.env.PRD
.env.backup
.env.production
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.phpunit.result.cache
.idea
.vscode
